.button {
  text-align: center;
  font-weight: 700;

  a {
    width: 100%;
    padding: 0.6em;
    float: left;
    border-radius: 3px;
    background-color: $blue_dark;
    color: $blue_light;
  }

  a:hover {
    background-color: $blue_light;
    color: $blue_dark;
  }
}


